<!doctype html>
<title>IMDB Top Ten Movies</title>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='jquery-2.1.4.js') }}">
  </script>
  <script src="{{ url_for('static', filename='angular.js') }}"></script>
  <script src="{{ url_for('static', filename='angular-route.js') }}"></script>
  <script src="{{ url_for('static', filename='angular-local-storage.js') }}"></script>
  
</head>
<body>
<div class="page">
  {% block content %}{% endblock %}
</div>
</body>